.sidebar {
  position: relative;
  overflow: hidden;
  align-items: left;
  padding: 1.5rem;
  z-index: 0; /* Ensure content stays above background */
}

.sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../assets/sidebarBG.avif') no-repeat center center;
  background-size: cover;
  filter: blur(2px);
  z-index: 0;
}

.logo {
  height: 300px;
  width: auto;
  z-index: 0;
  padding-left: 10px;
}

.sidebar-title {
  font-size: 1.2rem;
  color: white;
  padding: 50px;
  margin-top: 1rem;
  text-align: justify;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);

}

.sidebar-links {
  z-index: 0;
  display: block !important;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  align-items: left;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}

.sidebar a:hover {
  text-decoration: none;
  color: #d2ffc1;
}

.sidebar.flex-row {
  flex-direction: row !important;
  align-items: center;
  justify-content: space-around; /* or space-between */
}
